# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.yarn

# Build outputs
dist/
demo/dist-demo/       # Vite 构建产物（如果用了 build）
*.min.js

# TypeScript
*.tsbuildinfo
*.d.ts.map

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
coverage/
.nyc_output/
.temp/
tmp/
out/
build/

# OS generated
Thumbs.db
ehthumbs.db

.npmrc